<b:resource src="item.css" />

<span class="app-wizard-start-providers-item app-wizard-start-providers-item__{unchecked}" event-click="toggle">
  <img class="app-wizard-start-providers-item_image" src="src/app/template/logos/{id}.png"/>
  <div class="app-wizard-start-providers-item_title app-wizard-start-providers-item_title__{unchecked}">{title}</div>
</span>