<b:resource src="view.css"/>

<div class="app-wizard-start-local">
  <h2>Add your photos from desktop</h2>
  <div class="app-wizard-start-local_drop-zone">
    Drop your photos here or <button>browse</button>
  </div>
</div>