.app-wizard-start-dates
{
  text-align: center;
}
.app-wizard-start-dates H2
{
  margin: 0;
  padding: 1.2em 0 .9em;
  font-size: 350%;
  font-weight: normal;
}
.app-wizard-start-dates_date-buttons
{
  padding: 1em 0 2em;
}
.app-wizard-start-dates_date-button
{
  font-size: 180%;
  padding: .4em 20px;
  margin: 0 10px;
}