<b:resource src="view.css"/>

<div class="app-wizard-start-dates">
  <h2>When event happend?</h2>
  <div class="app-wizard-start-dates_date-buttons">
    <button class="app-wizard-start-dates_date-button" event-click="pickStartDate">{startDate}</button>
    <button class="app-wizard-start-dates_date-button" event-click="pickEndDate">{endDate}</button>
  </div>
</div>