.app-wizard-page
{
  padding: 5px;
  overflow: hidden;
  -webkit-transition-property: opacity, height;
  opacity: 1;
}
.app-wizard-page__selected
{
  -webkit-transition-duration: 1s, .25s;  
  border-color: green;
}
.app-wizard-page__unselected
{
  -webkit-transition-duration: .35s;
  -webkit-transition-function: ease-in-out;
  opacity: 0.5;
}