<b:style src="description.css"/>
<div class="app-event-description">
  <textarea{input} class="app-event-description_input" placeholder="Event description" value="{description}"
    event-keyup="change" event-change="change"
    event-blur="change" />
</div>