<b:style src="entry.css"/>

<div class="app-event-entry">
  <a href="{url}">
    <img class="app-event-entry_source-icon" src="{sourceImage}" width="46"/>
  </a>
  <div class="app-event-entry_content">
    <!--{content}-->
  </div>
</div>