<b:style src="entry-text.css"/>

<b:include src="entry.tmpl" class="app-event-entry-text">
  <b:replace ref="content">
    <div class="app-event-entry-text_wrapper">
      <span{content}/><br/>
      <span class="app-event-entry-time">{time}</span>      
    </div>
  </b:replace>
</div>