<b:style src="entry-text.css"/>

<b:include src="entry.tmpl" class="app-event-entry-text">
  <b:replace ref="content">
    <div class="app-event-entry-text_wrapper">
      {content}
    </div>
  </b:replace>
</div>