<b:style src="progress.css"/>

<div class="app-event-progress app-event-progress__{visible}">
  <div class="app-event-progress_box">
    <div class="app-event-progress_fill" style="width: {progress}%"/>
  </div>
</div>