.app-event-progress
{
  display: none;
  margin-top: 3em;
  padding-top: 40px;
  background: url(img/spiner.gif) no-repeat center 4px;
}
.app-event-progress__visible
{
  display: block;
}
.app-event-progress_box
{
  border: 1px solid #AAA;
  margin: 10px auto;
  width: 50%;
  min-width: 500px;
  padding: 1px;
}
.app-event-progress_fill
{
  background: green;
  height: 5px;  
}