<b:style src="title.css"/>
<div class="app-event-title">
  <input{input|focus} class="app-event-title_input" placeholder="Give a name for event" value="{title}"
    event-keyup="change" event-change="change"
    event-blur="change" />
</div>