<b:resource src="view.css"/>

<div class="app-event">
  <div class="app-event_dates">
    {startDate} &mdash; {endDate}
  </div>
  <!--{title}-->
  <!--{description}-->
  <!--{entries}-->
  <!--{progress}-->
</div>