<b:resource src="layout.css" />

<div class="app-layout">
  <h1>
    EventShot
  </h1>
  <div class="app-main-menu">
    <span class="app-main-menu-item" event-click="showEventList">My events</span>
    <span class="app-main-menu-item" event-click="createEvent">New event</span>
  </div>
  <!--{tabs}-->
  <!--{pages}-->
</div>