<b:resource src="item.css" />

<div class="app-eventlist-item" event-click="showDetails">
  <div class="app-eventlist-item_defcover"/>
  <div class="app-eventlist-item_delete" event-click="remove">Delete</div>
  <!--{cover}-->
  <div class="app-eventlist-item_label">
    <div class="app-eventlist-item_title app-eventlist-item_title__{noTitle}">{title}</div>
    <div class="app-eventlist-item_dates app-eventlist-item_dates__{noTitle}">{startDate} &mdash; {endDate}</div>
  </div>
</div>