<b:resource src="list.css" />
<b:resource src="item.css" />

<div class="app-eventlist">
  <div>
    <div class="app-eventlist-item app-eventlist_new" event-click="create">
      <div class="app-eventlist_new-overlay">
        <div class="app-eventlist_new-overlay-icon"/>
      </div>
    </div>
    <!--{childNodesHere}-->
  </div>
</div>